<!-- Modal -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Delete Confirmation</h4>

      </div>
      <div class="modal-body">
        <p>Are You Sure You Want To Delete?</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-danger btn-sm" href="{{obj.get_delete_url}}" role="button">Delete</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>